<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timetable</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" href="../school.css">
</head>
<body>
<h1>Timetable</h1>
<div class="popup" id="myPopup">
    <label for="nameField" class="label-inline">Name</label>
    <input type="text" placeholder="Enter your name" id="nameField" name="name" required autocomplete="off">
    <input type="checkbox" id="confirmField">
    <label class="label-inline" for="confirmField">Make admin</label>
    <input class="button button-clear" type="button" value="Save" onclick="saveCreateUser()">
    <input class="button button-clear" type="button" value="Cancel" onclick="cancelCreateUser()">
</div>
<div>
    <form>
        <fieldset>
            <label for="teacher">Select teacher</label>
            <select id="teacher">
                <option th:each="user : ${users}" th:text="${user.name}"></option>
            </select>
            <input class="button" type="button" value="Save">
            <input class="button button-outline" type="button" value="Create" onclick="createUser()">
            <input class="button button-outline" type="button" value="Update" onclick="updateUser(teacher.value)">
            <input class="button button-outline" type="button" value="Delete" onclick="deleteUser(teacher.value)">
            <input class="button button-clear float-right" type="button" value="Log out" onclick="logOut()">
        </fieldset>
    </form>

    <table>
        <thead>
        <tr>
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>8</th>
            <td th:text="${monday8}"></td>
            <td th:text="${tuesday8}"></td>
            <td th:text="${wednesday8}"></td>
            <td th:text="${thursday8}"></td>
            <td th:text="${friday8}"></td>
        </tr>
        <tr>
            <th>9</th>
            <td th:text="${monday9}"></td>
            <td th:text="${tuesday9}"></td>
            <td th:text="${wednesday9}"></td>
            <td th:text="${thursday9}"></td>
            <td th:text="${friday9}"></td>
        </tr>
        <tr>
            <th>10</th>
            <td th:text="${monday10}"></td>
            <td th:text="${tuesday10}"></td>
            <td th:text="${wednesday10}"></td>
            <td th:text="${thursday10}"></td>
            <td th:text="${friday10}"></td>
        </tr>
        <tr>
            <th>11</th>
            <td th:text="${monday11}"></td>
            <td th:text="${tuesday11}"></td>
            <td th:text="${wednesday11}"></td>
            <td th:text="${thursday11}"></td>
            <td th:text="${friday11}"></td>
        </tr>
        <tr>
            <th>12</th>
            <td th:text="${monday12}"></td>
            <td th:text="${tuesday12}"></td>
            <td th:text="${wednesday12}"></td>
            <td th:text="${thursday12}"></td>
            <td th:text="${friday12}"></td>
        </tr>
        <tr>
            <th>13</th>
            <td th:text="${monday13}"></td>
            <td th:text="${tuesday13}"></td>
            <td th:text="${wednesday13}"></td>
            <td th:text="${thursday13}"></td>
            <td th:text="${friday13}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="admin.js"></script>
</body>
</html>