<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timetable</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" href="../static/school.css">
</head>
<body>
<h1>Timetable</h1>
<div class="popup" id="myPopup">
    <label for="nameField" class="label-inline">Name</label>
    <input type="text" placeholder="Enter your name" id="nameField" name="name" required autocomplete="off">
    <input type="checkbox" id="confirmField">
    <label class="label-inline" for="confirmField">Make admin</label>
    <input class="button button-clear" type="button" value="Save" onclick="saveCreateUser()">
    <input class="button button-clear" type="button" value="Cancel" onclick="cancelCreateUser()">
</div>
<div>
    <form>
        <fieldset>
            <label for="teacher">Select teacher</label>
            <select id="teacher">
                <option th:each="user : ${users}" th:text="${user.name}"></option>
            </select>
            <input class="button" type="button" value="Save">
            <input class="button button-outline" type="button" value="Create" onclick="createUser()">
            <input class="button button-outline" type="button" value="Update" onclick="updateUser(teacher.value)">
            <input class="button button-outline" type="button" value="Delete" onclick="deleteUser(teacher.value)">
            <input class="button button-clear float-right" type="button" value="Log out" onclick="logOut()">
        </fieldset>
    </form>

    <table>
        <thead>
        <tr>
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>8</th>
            <td th:text="${monday8}"><input type="text"  id="monday8" autocomplete="off"></td>
            <td th:text="${tuesday8}"><input type="text" id="tuesday8" autocomplete="off"></td>
            <td th:text="${wednesday8}"><input type="text" id="wednesday8" required autocomplete="off"></td>
            <td th:text="${thursday8}"><input type="text" id="thursday8" required autocomplete="off"></td>
            <td th:text="${friday8}"><input type="text" id="friday8" required autocomplete="off"></td>
        </tr>
        <tr>
            <th>9</th>
            <td th:text="${monday9}"><input type="text"  id="monday9" autocomplete="off"></td>
            <td th:text="${tuesday9}"><input type="text" id="tuesday9" autocomplete="off"></td>
            <td th:text="${wednesday9}"><input type="text" id="wednesday9" required autocomplete="off"></td>
            <td th:text="${thursday9}"><input type="text" id="thursday9" required autocomplete="off"></td>
            <td th:text="${friday9}"><input type="text" id="friday9" required autocomplete="off"></td>
        </tr>
        <tr>
            <th>10</th>
            <td th:text="${monday10}"><input type="text"  id="monday10" autocomplete="off"></td>
            <td th:text="${tuesday10}"><input type="text" id="tuesday10" autocomplete="off"></td>
            <td th:text="${wednesday10}"><input type="text" id="wednesday10" required autocomplete="off"></td>
            <td th:text="${thursday10}"><input type="text" id="thursday10" required autocomplete="off"></td>
            <td th:text="${friday10}"><input type="text" id="friday10" required autocomplete="off"></td>
        </tr>
        <tr>
            <th>11</th>
            <td th:text="${monday11}"><input type="text"  id="monday11" autocomplete="off"></td>
            <td th:text="${tuesday11}"><input type="text" id="tuesday11" autocomplete="off"></td>
            <td th:text="${wednesday11}"><input type="text" id="wednesday11" required autocomplete="off"></td>
            <td th:text="${thursday11}"><input type="text" id="thursday11" required autocomplete="off"></td>
            <td th:text="${friday11}"><input type="text" id="friday11" required autocomplete="off"></td>
        </tr>
        <tr>
            <th>12</th>
            <td th:text="${monday12}"><input type="text"  id="monday12" autocomplete="off"></td>
            <td th:text="${tuesday12}"><input type="text" id="tuesday12" autocomplete="off"></td>
            <td th:text="${wednesday12}"><input type="text" id="wednesday12" required autocomplete="off"></td>
            <td th:text="${thursday12}"><input type="text" id="thursday12" required autocomplete="off"></td>
            <td th:text="${friday12}"><input type="text" id="friday12" required autocomplete="off"></td>
        </tr>
        <tr>
            <th>13</th>
            <td th:text="${monday13}"><input type="text"  id="monday13" autocomplete="off"></td>
            <td th:text="${tuesday13}"><input type="text" id="tuesday13" autocomplete="off"></td>
            <td th:text="${wednesday13}"><input type="text" id="wednesday13" required autocomplete="off"></td>
            <td th:text="${thursday13}"><input type="text" id="thursday13" required autocomplete="off"></td>
            <td th:text="${friday13}"><input type="text" id="friday13" required autocomplete="off"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="admin.js"></script>
</body>
</html>